<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Currency</title>
        <script>
            document.addEventListener('DOMContentLoaded', function() {
                // this line below is to fech the json insides to the page from the link in side it
                fetch('/currency/api/rates/')  // ✅ fetch from Django, not directly from Frankfurter
                .then(response => response.json())
                .then(data => {
                    console.log(data); // Log the entire data object to see its structure

                    //function fetch(input: (string | Request) | URL, init?: RequestInit | undefined): Promise<Response>
                    //      ^^^ this means that something is goin to come back frome the link but no instantly
                });
            });
        </script>
    </head>
    <body>
    </body>
</html>